<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="jbhifiene.jbhifi.AppTest"/>
      <class name="jbhifiene.jbhifi.Loginfunction1"/>
      <class name="jbhifiene.jbhifi.headertextvalidation"/>
      <class name="jbhifiene.jbhifi.loginfunction"/>
      <class name="jbhifiene.jbhifi.headerfieldverification"/>
    </classes>
  </test> 
</suite> 
